$primary: #0984e3;
$primary-overly: rgba(9, 132, 227, 0.8);
body {
    margin-top: 105px;
}

.navbar {
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;
    .nav-item {
        font-size: 1.4rem;
        &:not(:last-child) {
            padding-right: 5px;
        }
    }
}

#showcase {
    position: relative;
    background: url('../img/mountains.jpg');
    min-height: 600px;
    .showcase-overly {
        position: absolute;
        background: $primary-overly;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px #ddd solid;
}

.mb-resp {
    margin-bottom: 2px;
}

@media (max-width: 768px) {
    #showcase {
        min-height: 500px;
        h1 {
            font-size: 3.5rem;
        }
    }
    .mb-resp {
        margin-bottom: 1rem;
    }
}

@media (max-width : 360px){
    #showcase {
        min-height: 450px;
        h1{
            font-size: 2.5rem;
        }
    }
}